nav{
	float:right;
	padding-right: 20px;
}


body {
  text-align: justify;
  background-image:"images/shutterstock_3.jpg";
  background-size: cover;
  color: black;
  font-family: Helvetica;
}

hr {
  width: 200px;
}

p {
  font-size: 22px;
}
