body {
	text-align: justify;
    font-family: Helvetica, sans-serif; 
}
 

h1, p {
    color: orange;
}

header {
	text-align: center;
}
nav {
	padding-top: 40px;
}

nav a {
	color: #cccccc;
	font-style: italic;
	margin-right: 10px;
}

img {
	width: 100%;
}

main {
	padding: 30px;
}

#logo{
	max-width: 200px;
	margin: 0 auto; 
}

#slogan{
	text-align: center;
	font-size: 50px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.hero-box {
	position: relative;
}



footer {
	padding: 20px;
	text-align: center;